/*
* @Author: saurabh
* @Date:   2018-10-28 04:27:49
* @Last Modified by:   Saurabh Agarwal
* @Last Modified time: 2018-10-28 09:52:41
*/

body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:16px;
	font-weight:300;
	line-height:1.6em;
	color:#656565;
}

nav.design_navbar{
	background-color: #3498DB;
}


li.logo_active{
	color: #3498DB;
}

#logo_text{
	color: #2E86C1;
}

.krssg_logo{
	height: 60px;
	width: 60px;
}

a.active{
	color: white;
}

a:hover{
	color: white
}

.change_strike_colour{
	border-color: #3498DB;
}

.quick_links{
	color: #656565
}

.quick_links:hover{
	color: #656565
}

.image_slider{
	position: relative;
	/*height: 400px;*/
}

.visited_country{
	width: 242px;
	height: 200px;
	position: relative;
}